.terraform/
*.pem
*.tfstate
terraform.tfstate.backup
*.tfstate.*
terraform.tfvars
*.auto.tfvars
*.tfvars.json
!terraform.tfvars.example
.env
frontend/.env
backend/.env
node_modules/
frontend/dist/
backend/api
.DS_Store
crash.log
crash.*.log
tfplan
*.tfplan
